name: PilotRevitIntegrator
env:
 SOLUTION: "PilotRocketChatGateway.sln"
 RELESE_FOLDER: ${{ github.workspace }}\upload
 APP: "PilotRocketChatGateway"
 APP_RELEASE: "PilotRocketChatGateway"
 
on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1
    - name: Restore packages
      run: |
           nuget restore ${{ env.SOLUTION }}
           nuget restore ${{ env.INSTALLER_SOLUTION }}
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.3
    - name: Build with MSBuild 
      run: msbuild ${{ env.SOLUTION }} -p:Configuration=Release
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%y.%m.%d')" 
    - name: Prepare files to release
      run: |
       mkdir ${{ env.RELESE_FOLDER }}
       move ${{ github.workspace }}\${{ env.APP }}\bin\Release ${{ env.RELESE_FOLDER }}\${{ env.APP_RELEASE }}
    - name: Zip binaries
      run: |
          cd ${{ env.RELESE_FOLDER }}
          tar -a -c -f binaries${{ env.TAG_NAME }}.zip *
      env:
          TAG_NAME: ${{ steps.date.outputs.date }}.${{ github.run_id }}
    - name: Upload binaries to release
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: ${{ env.RELESE_FOLDER }}\binaries${{ env.TAG_NAME }}.zip
        tag: ${{ env.TAG_NAME }}
        name: ${{ env.RELEASE_NAME }}
      env:
          TAG_NAME: ${{ steps.date.outputs.date }}.${{ github.run_id }}
          RELEASE_NAME: ${{ steps.date.outputs.date }}
